@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Six+Caps&display=swap');

@font-face {
  font-family: 'Duplet-regular';
  src: url('fonts/Duplet-Regular.otf') format ('opentype');
}

@font-face {
  font-family: 'Duplet-bold';
  src: url('fonts/Duplet-Bold.otf') format ('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'dupletsemibold';
  src: url('fonts/Duplet-Semibold.otf') format ('opentype');
}

@font-face {
  font-family: 'Sixcaps';
  src: url('fonts/SixCaps-Regular.ttf') format ('truetype');
}

:root {
  --red-primary: #e41c1f;
  --color-font: #000;
  --color-required-error: #b85252;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', Sans-serif;
}

ul,
ol {
  padding: 0 !important;
}

body {
  height: 100%;
  color: black;
}

.e1-mobile {
  position: absolute;
  background-image: url('img/SVG/E1_mobile.svg');
  background-repeat: no-repeat;
  height: 100px;
  width: 120px;
  bottom: 30%;
  right: 0;
}

@media (width >= 992px) {
  .e1-desktop {
    position: absolute;
    background-image: url('img/SVG/E1_desktop.svg');
    background-repeat: no-repeat;
    height: 60px;
    width: 120px;
    top: 5%;
    left: 0;
  }

  .e4-desktop {
    position: absolute;
    background-image: url('img/SVG/E4_destkop.svg');
    background-repeat: no-repeat;
    height: 130px;
    width: 120px;
    bottom: 1%;
    left: 0;
  }
}

@media (width > 48rem) {
  body {
    background: linear-gradient(90deg, white 50%, var(--red-primary) 50%);
  }
}

.d-flex {
  display: flex;
}

.flex-gap-2 {
  gap: 2rem;
}

.flex-gap-1 {
  gap: 1rem;
}

.alg-center {
  align-items: center;
}

.just-content-center {
  justify-content: center;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.text-bg {
  background: black;
  color: white;
  font-size: 2rem;
  padding: 0.2rem 0.95rem;
}

.font-sixcap {
  font-family: 'Six Caps', sans-serif;
}

@media (width > 992px) {
  .hero-msg {
    margin-left: 4rem;
  }
}

label.error {
  color: var(--color-required-error);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

input.error,
select.error {
  border-color: var(--color-required-error);
}

form,
img {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.form-label.form-label--xs {
  margin-bottom: 0.1rem;
  color: var(--color-font);
}

.btn-submit {
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 7px;
  transition: 0.5s;
  font-family: 'Six Caps', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.btn-submit--confirm {
  padding: 7px 3rem 7px 1rem;
  opacity: 0.8;
  background-image: url('img/SVG/plus.svg');
  background-position-x: calc(100% - 6px);
  background-position-y: center;
  background-size: 18px;
  background-repeat: no-repeat;
}
.btn-submit--confirm:hover {
  transform: scale(1.1);
  opacity: 1;
}

.btn-submit--modales {
  padding: 0.4rem 1.5rem;
  outline: none;
}

select.form-select {
  color: var(--color-font);
}

.formgroup__terms {
  text-align: justify;
  font-size: 11px;
  margin-bottom: 0;
}
.formgroup__terms a {
  color: var(--color-font);
  cursor: pointer;
}

.msg-reject {
  padding: 1em calc(1.5em + 0.5vw);
  color: #424242;
  margin-left: 0;
  margin-right: 0;
  font-size: 1rem;
  line-height: 1.65em;
  letter-spacing: 0;
  border-radius: 11px;
  background: linear-gradient(
    to bottom right,
    rgba(245, 242, 240, 0.8901960784) 0,
    #fff 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-right {
  background: var(--red-primary);
  overflow: hidden;
  min-height: 100vh;
}

.zIdxSup {
  z-index: 111;
}

#frmRegistro {
  margin-top: 1rem;
}

@media (width >= 992px) {
  #frmRegistro {
    max-width: 80%;
  }
}

.title-h1 {
  font-size: 17px;
  color: white;
}

.title-h2 {
  font-size: 30px;
  color: black;
}

.text-white-esc {
  color: #f1f1f1;
}

.text-bold {
  font-family: 'Duplet-bold', sans-serif;
  font-weight: 700;
}

#arrowDown {
  position: absolute;
  bottom: 39px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
  opacity: 1;
}

@media (width >= 768px) {
  #arrowDown {
    display: none;
    opacity: 0;
  }
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

.swal2-title {
  font-size: 1.5rem !important;
}

.swal2-html-container p,
.swal2-html-container h3 {
  text-align: justify;
  font-size: 14px;
  margin-bottom: 12px;
}

.swal2-html-container .lista {
  font-size: 0.9rem;
  text-align: justify;
  margin-left: 33px;
}

.swal2-html-container .lista li {
  margin-bottom: 1rem;
}
.swal2-html-container .lista li > ul {
  margin-left: 21px;
  margin-top: 8px;
}
.swal2-html-container .lista li > ul li {
  margin-bottom: 3px;
}

.listDecimal {
  list-style: decimal;
}

.listRoman {
  list-style: upper-roman;
}

.listAlpha {
  list-style-type: upper-alpha;
}

.title--color-secondary {
  color: var(--red-primary) !important;
}

.form-control,
.form-select {
  border-radius: 0px !important;
  border-color: #000 !important;
}

.form-label {
  font-family: 'Karla', Sans-serif !important;
}
